[Unit]
Description=Publish a new yosys-nightly to the AUR

[Service]
Environment=SSH_AUTH_SOCK=/run/user/1001/ssh-agent.socket
WorkingDirectory=/srv/aur-pkgs/yosys-nightly
User=fae
Group=users
ExecStart=/srv/aur-pkgs/yosys-nightly/update-pkg.sh
