[Unit]
Description=Publish a new nextpnr-ice40-nightly to the AUR

[Service]
Environment=SSH_AUTH_SOCK=/run/user/1001/ssh-agent.socket
WorkingDirectory=/srv/aur-pkg/nextpnr-ice40-nightly
User=fae
Group=users
ExecStart=/srv/aur-pkg/nextpnr-ice40-nightly/update-pkg.sh
