[Unit]
Description=Publish a new prjoxide-nightly to the AUR

[Service]
Environment=SSH_AUTH_SOCK=/run/user/1001/ssh-agent.socket
WorkingDirectory=/srv/aur-pkgs/prjoxide-nightly
User=fae
Group=users
ExecStart=/srv/aur-pkgs/prjoxide-nightly/update-pkg.sh
