[Unit]
Description=Publish a new nextpnr-ecp5-nightly to the AUR

[Service]
Environment=SSH_AUTH_SOCK=/run/user/1001/ssh-agent.socket
WorkingDirectory=/srv/aur-pkgs/nextpnr-ecp5-nightly
User=fae
Group=users
ExecStart=/srv/aur-pkgs/nextpnr-ecp5-nightly/update-pkg.sh
