[Unit]
Description=Daily publication of a new sby-nightly to the AUR

[Timer]
OnCalendar=*-*-* 00:00:00 UTC
AccuracySec=15m
Persistent=true

[Install]
WantedBy=multi-user.target
